<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Tender Management System</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tenders">Current Tenders</a></li>
            <li><a href="/tenders/past">Past Tenders</a></li>
            <li><a href="/tender/add">Add Tender</a></li>
        </ul>
    </nav>
</body>
</html>
